@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&family=Montserrat:wght@200;400&display=swap');

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
*/

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    box-shadow: none !important;
    outline: none !important;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    outline: 0px;
}

html {
    position: relative;
    overflow-x: hidden;
}

body {
    padding: 15px;
    position: relative;
    overflow-x: hidden;
    background: #FFFFFF;

    // Breakpoints
    @include respond-to($phone) {
        padding: 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 0px;
    }

    @include respond-to($medium-large) {
        padding: 0px;
    }
}

header,
footer,
section {
    width: 100%;
    float: left;
    position: relative;
}

/*Estilos generales*/

/*Título*/
h1 {
    width: 100%;
    margin: 0px;
    letter-spacing: -1.01px;
    line-height: 90px;
    font-weight: 700;
    font-size: 84px;
    color: #000000;

    // Breakpoints
    @include respond-to($phone) {
        line-height: 45px;
        font-size: 45px;
    }

    @include respond-to($phone-tablet) {
        line-height: 45px;
        font-size: 45px;
    }

    @include respond-to($tablet-medium) {
        line-height: 45px;
        font-size: 45px;
    }

    @include respond-to($medium-large) {
        line-height: 45px;
        font-size: 45px;
    }
}

h2 {
    width: 100%;
    letter-spacing: 0;
    line-height: 60px;
    font-weight: 600;
    font-size: 60px;
    color: #000000;

    // Breakpoints
    @include respond-to($phone) {
        line-height: 60px !important;
        font-size: 45px !important;
    }

    @include respond-to($phone-tablet) {
        line-height: 60px !important;
        font-size: 45px !important;
    }

    &.type-one {
        margin-bottom: 40px;
        padding-bottom: 40px;
        background: transparent url('../img/bg-title-h2.png') left bottom / 134px 4px no-repeat;
    }

    &.type-two {
        margin-bottom: 40px;
        padding-bottom: 40px;
        color: #FFFFFF;
        background: transparent url('../img/bg-title-white-h2.png') left bottom / 134px 4px no-repeat;
    }
}

/*Parrafos*/
p {
    width: 100%;
    margin-bottom: 30px;
    letter-spacing: 0;
    line-height: 30px;
    font-size: 16px;
    color: $color-primary;
}

/*Botones*/
.btn-primary {
    padding: 15px 51px 15px 26px;
    border: none;
    font-family: "Playfair Display";
    font-style: italic;
    letter-spacing: 0;
    line-height: 21px;
    font-size: 16px;
    color: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #718903 url('../img/btn-arrow.png') calc(100% - 29px) center / 16px auto no-repeat;

    &:hover {
        background-color: $color-secondary;
    }
}

.btn-secondary {
    padding: 15px 51px 15px 26px;
    border: none;
    font-family: "Playfair Display";
    font-style: italic;
    letter-spacing: 0;
    line-height: 21px;
    font-size: 16px;
    color: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.3) url('../img/btn-arrow.png') calc(100% - 29px) center / 16px auto no-repeat;

    &:hover {
        background-color: $color-secondary;
    }
}

/*Formulario*/
form {

    .form-control {
        height: 45px;
        padding: 13px 15px;
        border: none;
        background-color: $color-fourth !important;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        opacity: 0.7 !important;

        &::-webkit-input-placeholder {
            font-family: 'Poppins', sans-serif;
            letter-spacing: 0;
            line-height: 20px;
            font-size: 13px;
            color: $color-primary;
        }

        &:-ms-input-placeholder {
            font-family: 'Poppins', sans-serif;
            letter-spacing: 0;
            line-height: 20px;
            font-size: 13px;
            color: $color-primary;
        }

        &::placeholder {
            font-family: 'Poppins', sans-serif;
            letter-spacing: 0;
            line-height: 20px;
            font-size: 13px;
            color: $color-primary;
        }
    }

    textarea {
        height: 92px !important;
    }

    .form-check {
        margin-bottom: 0px;

        // Breakpoints
        @include respond-to($phone) {
            margin-bottom: 30px;
        }

        @include respond-to($phone-tablet) {
            margin-bottom: 30px;
        }

        @include respond-to($tablet-medium) {
            margin-bottom: 30px;
        }

        @include respond-to($medium-large) {
            margin-bottom: 30px;
        }

        .form-check-label {
            font-family: 'Poppins', sans-serif;
            letter-spacing: 0;
            line-height: 20px;
            font-size: 13px;
            color: $color-primary;

            a {
                text-decoration: underline !important;
                font-family: 'Poppins', sans-serif;
                letter-spacing: 0;
                line-height: 20px;
                font-size: 13px;
                color: $color-primary;
            }
        }
    }
}