header {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 99999;

    .navbar {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.65) !important;

        // Breakpoints
        @include respond-to($phone) {
            padding: 10px 0px;
        }

        @include respond-to($phone-tablet) {
            padding: 10px 0px;
        }

        @include respond-to($tablet-medium) {
            padding: 10px 0px;
        }

        @include respond-to($medium-large) {
            padding: 10px 0px;
        }

        .navbar-brand {
            padding: 0px;

            .img-fluid {
                max-width: 150px;

                // Breakpoints
                @include respond-to($phone) {
                    max-width: 80px;
                }

                @include respond-to($phone-tablet) {
                    max-width: 80px;
                }

                @include respond-to($tablet-medium) {
                    max-width: 80px;
                }

                @include respond-to($medium-large) {
                    max-width: 80px;
                }
            }
        }

        .navbar-toggler {
            background-color: #FFFFFF;
        }

        .navbar-collapse {

            // Breakpoints
            @include respond-to($phone) {
                padding-top: 10px;
            }

            @include respond-to($phone-tablet) {
                padding-top: 10px;
            }

            @include respond-to($tablet-medium) {
                padding-top: 10px;
            }

            @include respond-to($medium-large) {
                padding-top: 10px;
            }

            .navbar-nav {

                // Breakpoints
                @include respond-to($phone) {
                    padding: 0px 10px;
                    background-color: rgba(255, 255, 255, 0.9);
                }

                @include respond-to($phone-tablet) {
                    padding: 0px 10px;
                    background-color: rgba(255, 255, 255, 0.9);
                }

                @include respond-to($tablet-medium) {
                    padding: 0px 10px;
                    background-color: rgba(255, 255, 255, 0.9);
                }

                @include respond-to($medium-large) {
                    padding: 0px 10px;
                    background-color: rgba(255, 255, 255, 0.9);
                }

                .nav-item {
                    margin-right: 50px;

                    // Breakpoints
                    @include respond-to($phone) {
                        margin-right: 0px;
                    }

                    @include respond-to($phone-tablet) {
                        margin-right: 0px;
                    }

                    @include respond-to($tablet-medium) {
                        margin-right: 0px;
                    }

                    @include respond-to($medium-large) {
                        margin-right: 0px;
                    }

                    @include respond-to($large-extra) {
                        margin-right: 30px;
                    }

                    .nav-link {
                        padding: 0px;
                        letter-spacing: -0.17px;
                        line-height: 21px;
                        font-weight: 700;
                        font-size: 14px;
                        color: #000000;

                        // Breakpoints
                        @include respond-to($phone) {
                            padding: 5px 0px;
                        }

                        @include respond-to($phone-tablet) {
                            padding: 5px 0px;
                        }

                        @include respond-to($tablet-medium) {
                            padding: 5px 0px;
                        }

                        @include respond-to($medium-large) {
                            padding: 5px 0px;
                        }

                        &:hover {
                            text-decoration: underline !important;
                        }
                    }

                    &:last-child {
                        margin-right: 0px;

                        .nav-link {
                            color: $color-sixth;
                        }
                    }
                }
            }
        }
    }

    &.type-border-bottom {
        border-bottom: 1px solid #FFFFFF;
    }
}